attrs==19.1.0
dateparser==0.7.1
idna==2.8
jsonpointer==2.0
jsonschema==3.0.2
Owlready2==0.20
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
pyxdg==0.26
regex==2019.8.19
rfc3987==1.3.8
six==1.12.0
strict-rfc3339==0.7
tzlocal==2.0.0
uritools==2.2.0
webcolors==1.9.1
