arrow==1.2.3
attrs==22.1.0
cached-property==1.5.2
decorator==5.1.1
fqdn==1.5.1
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.9.0
isoduration==20.11.0
jsonpath-ng==1.5.3
jsonpointer==2.3
jsonschema==4.16.0
pkgutil_resolve_name==1.3.10
ply==3.11
pyrsistent==0.18.1
python-dateutil==2.8.2
pyxdg==0.28
PyYAML==6.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
six==1.16.0
typing_extensions==4.3.0
uri-template==1.2.0
uritools==4.0.0
webcolors==1.12
zipp==3.8.1
