# With 'format' several optional formats
# are supported through additional libraries
jsonschema[format] >= 3.0.0
uritools
# Optimized version of Owlready2 needs cython
cython
owlready2 >= 0.23
pyxdg
dateparser
pyyaml
